.header {
    background-image: url(../img/bg-top.png);
    background-repeat: no-repeat;
    height: 91px;

    &__content {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
    }

    &__nav {
        margin-left: auto;
    }
}
