footer(class='footer')
    div(class='footer__content')
        div(class='footer__message')
            | ВЫ МОЖЕТЕ ОСТАВИТЬ СВОИ ВОПРОСЫ, ПОЖЕЛАНИЯ И ОТЗЫВЫ
            | ПО ССЫЛКАМ УКАЗАННЫМ НИЖЕ:
        include footer-social.pug
