div(class='footer__social footer-social')
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--mail')
            a(class='footer-social__icon-link', href='mailto:ataka9731@gmail.com')
        a(class='footer-social__text-link', href='mailto:ataka9731@gmail.com')
            | ataka9731@gmail.com
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--fb')
            a(class='footer-social__icon-link', href='https://www.facebook.com/slotofra777')
        a(class='footer-social__text-link', href='https://www.facebook.com/slotofra777')
            span https://www.facebook.com/
            span slotofra777
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--vk')
            a(class='footer-social__icon-link', href='https://vk.com/club187102466')
        a(class='footer-social__text-link', href='https://vk.com/club187102466')
            | https://vk.com/club187102466
