div(class='header__nav header-nav')
    div(class='header-nav__divider header-nav__divider--type1')
    a(class='header-nav__btn' href='#')
        span КОНТАКТЫ
    div(class='header-nav__divider header-nav__divider--type2')
    a(class='header-nav__btn' href='#')
        span ПОЛИТИКА КОНФИДЕН.
    div(class='header-nav__divider header-nav__divider--type1')
    a(class='header-nav__btn' href='#')
        span ПОДДЕРЖКА
    div(class='header-nav__divider header-nav__divider--type2')
