div(class='header__social header-social')
    div(class='header-social__icon header-social__icon--mail')
        a(class='header-social__link', href='mailto:ataka9731@gmail.com')
    div(class='header-social__icon header-social__icon--fb')
        a(class='header-social__link', href='https://www.facebook.com/slotofra777')
    div(class='header-social__icon header-social__icon--vk')
        a(class='header-social__link', href='https://vk.com/club187102466')
