div(class='header__nav header-nav')
    div(class='header-nav__divider header-nav__divider--type1')
    div(class='header-nav__btn', id='header-nav__contacts')
        span КОНТАКТЫ
    div(class='header-nav__divider header-nav__divider--type2')
    a(class='header-nav__btn' href='privacy-policy.html')
        span ПОЛИТИКА КОНФИДЕН.
    div(class='header-nav__divider header-nav__divider--type1')
    div(class='header-nav__btn', id='header-nav__support')
        span ПОДДЕРЖКА
    div(class='header-nav__divider header-nav__divider--type2')
