main(class='index-main')
    div(class='index-main__content')
        div(class='index-main__character')
        div(class='index-main__carousel')
            img(src='img/game-sample.png')
        div(class='index-main__play-wrap')
            div(class='index-main__play')
