main(class='main')
    div(class='main__content')
        div(class='main__character')
        div(class='main__carousel')
            img(src='img/game-sample.png')
        div(class='main__play-wrap')
            div(class='main__play')
