main(class='privacy-policy-main')
    div(class='privacy-policy-main__background')
    div(class='privacy-policy-main__text')
        h1 PRIVACY POLICY
        h3
            span(class='privacy-policy-main__egd') EasyGameDeveloper
        p
            | EasyGameDeveloper has developed this Privacy Policy to help you understand more about our privacy
            | practices and how we collect, use and disclosure various information we may collect from you,
            | or you may provide to us, with respect to your visitation and use of EasyGameDeveloper
            | website (
            a(href='http://www.slotofra-gp.ru') http://www.slotofra-gp.ru
            |). By visiting the EasyGameDeveloper Website you agree to the following:

        h3 1. DEFINITIONS
        p The following defined terms shall have the meanings set forth below:
        p.
            Financial Information: information relating to payments and billing (e.g. name, account information,
             billing address) provided by you in connection with your use of the EasyGameDeveloper Website.
             All Financial Information collected for billing and payment purposes only and will be protected and
             administered by EasyGameDeveloper and/or our authorized third party partners.
        p.
            Non-Personal Information: information that, by itself, does not identify a specific individual or entity
            (e.g. demographic information, usage data or downloads).
        p.
            Personal Information: means specific identifiable information about an individual or entity which may
            be used to identify, contact or locate that person or entity (e.g. name, mailing address, email address
            or phone number).

        h3 2. What Information Is Collected?
        p.
            Information You Provide . We may receive and store any Personal Information, Financial Information
            and/or Non-Personal Information that you provide by using the EasyGameDeveloper Website or when you interact
            with Hot Games. Sometimes, you will have a choice whether or not to provide information, but if you fail to
            provide certain information, it could make some features and/or functionality of the EasyGameDeveloper
            Website unavailable to you. EasyGameDeveloper will use information you provide to respond to your
            requests, communicate with you, and to improve the EasyGameDeveloper Website. Here are some examples:

        ol(type='a')
            li.
                Email Communications. EasyGameDeveloper may use your Personal Information to send you emails
                periodically describing promotions or events. You may opt-out of receiving promotional emails by
                following the instructions in the relevant correspondence. Once EasyGameDeveloper has processed your
                opt-out request, EasyGameDeveloper will not send you further promotional emails unless you opt back in
                to receiving such communications. Whether you opt out of receiving promotional emails or not,
                EasyGameDeveloper reserves the right to communicate with you via email with respect to important
                information, notices or changes relating to the EasyGameDeveloper Website.

            li.
                Other Information. You may provide Financial, Personal and Non-Personal information whenever you
                interact with the EasyGameDeveloper Website including, without limitation, when you search the website,
                participate in a contest, survey or questionnaire, place an order, or communicate with EasyGameDeveloper
                by phone or email.

        p.
            With any of the above actions, you may supply us with information such as your name, address, phone number,
            credit card information, third party information, alternate contact information, information about your use
            of the EasyGameDeveloper Website, personal descriptions, product descriptions, and in some cases, financial
            information including Social Security and driver's license numbers.

        h3 3. Information Collected Automatically or Through Technology.
        p.
            We may receive and store certain Personal Information and Non-Personal Information whenever you interact
            with EasyGameDeveloper. While you are able to visit the EasyGameDeveloper Website and remain anonymous,
            we and/or our third party service providers may still collect Personal Information and Non-Personal
            Information through technological means. Such information may be gathered by the following methods:

        ol(type='a')
            li.
                Cookies. Cookies are small pieces of information that are stored by your browser on your computer's hard
                drive which work by assigning to your computer a unique number that has no meaning outside of the
                EasyGameDeveloper Website. Cookies do not generally contain any Personal Information. Most web browsers
                automatically accept cookies, but you can usually configure your browser to prevent this. However,
                because cookies enable you to take advantage of some of the features of the EasyGameDeveloper Website,
                we recommend that you leave them turned on or you may not have access or use of such features.

            li.
                Metadata is data collected and used by us to facilitate the understanding, characteristics, and
                management of data arising out of or relating to the EasyGameDeveloper Website, to facilitate and
                monitor system usage and, in certain instances, for fraud prevention and other services. Some examples
                of information and metadata that EasyGameDeveloper may collect and analyze include, without limitation,
                the Internet protocol (IP) address used to connect your computer to the Internet, computer and
                connection information (such as browser type, version, and time zone setting, browser plug-in types and
                versions, operating system, and platform), the full Uniform Resource Locator (URL) click sequence to,
                through, and from the EasyGameDeveloper Website including date and time, cookie number and any products,
                services or features you use or interact with arising out of or in connection with your use of the
                EasyGameDeveloper Website.
            li.
                В Tools. We may use software tools to measure and collect information about your use of the
                EasyGameDeveloper Website including, without limitation, page response times, upload and file transfer
                errors, interaction information (such as scrolling, clicks, and mouse-over’s), features use, purchase
                tracking and order fulfillment and methods. Sometimes, you will have a choice whether or not to provide
                information, but if you fail to provide certain information it could make some features and/or
                functionality of the EasyGameDeveloper Website.
            li.
                В Information from Other Sources. We may receive information about you from EasyGameDeveloper third
                party service providers, or other sources such as purchase or redemption information, EasyGameDeveloper
                Website usage, payment information, reporting information page-view information, technical, fulfillment,
                advertising, search information and credit history information.

        h3 4. How Information Is Used, SHARED AND DISCLOSED.
        p.
            Generally, we do not sell, rent, lease or disclose your Personal Information to third parties, except if
            you consent to such disclosure or as described in this Privacy Policy. We use Personal, Non-Personal and
            Financial Information, among other things, to analyze and monitor system performance, analyze internal
            business systems, improve the EasyGameDeveloper Website, fulfill requests for additional products and
            services, contact you about promotional and marketing activities, and conduct research. The use and
            protection of information is an important component of our business. Examples of how EasyGameDeveloper
            shares and discloses your information is as follows:

        ol(type='a')
            li.
                Legal. We disclose information you provide to respond to subpoenas, court orders, other facets of the
                legal process or to establish/exercise our legal rights or defend against legal claims. We will share
                Personal Information in order to investigate, prevent or take action regarding illegal activities,
                suspected fraud, situations involving potential threats to the physical safety of any person, violations
                of the EasyGameDeveloper Terms of Use
            li.
                Business Transfers. As we continue to develop our business, we may reorganize as a business entity,
                acquire entities, subsidiaries, or business units, or enter into joint ventures with third parties. In
                any of these types of transactions, any information you provide may be one of the transferred business
                assets but will remain subject to any pre-existing Privacy Notice (unless you consent otherwise). In the
                event that all or substantially all of our assets are acquired or we merge with a third party, your
                information will likely be one of the transferred assets. You understand and agree that we reserve the
                right to transfer any information collected from you in the case of any such transfer. In such event,
                we will use reasonable efforts to notify you before Personal Information about you is transferred and
                becomes subject to a different privacy policy.
            li.
                Affiliated Businesses We Do Not Control . We may use third-party companies and individuals to perform functions on our behalf. Examples include fulfilling orders, processing payments, hosting, data storage, sending postal mail and email, removing repetitive information from customer lists, analyzing data, providing marketing assistance, providing search results and links (including paid listings and links), processing credit card payments, and providing customer service. We will provide such entities with access to certain information needed to perform their functions, but will take measures to ensure that they may not use it for other purposes. We share information only as described above and with third parties that are either subject to this Privacy Policy or to a privacy policy that is at least as protective as this Privacy Policy.


        h3 5. Security.
        p.
            While no security system is completely secure, we and our third party partners and vendors takes appropriate
            security measures to protect against unauthorized access or disclosure of the information it collects; this
            includes, but not limited to, ensuring that all Personal and Financial Information is disclosed only on a
            need to know basis. Additionally, all Personal and Financial Information collected by us is done so via
            secured connections and protected and encrypted by industrial grade security software to guard against
            unauthorized access.

        h3 6. Advertising.
        p.
            We may utilize advertising and advertising-relating features in the EasyGameDeveloper Website. Such
            advertising and advertising services may contain cookies that recognize your computer each time you receive
            an online advertisement. In this way, ad servers may compile information about where you (or others who are
            using your computer) saw their advertisements and determine which ads are clicked on. This information
            allows an ad network to deliver targeted advertisements that they believe will be of most interest to you.
            We will not provide any Personally Identifiable Information or Financial Information to these advertisers
            or third-party websites. This Privacy Policy does not cover the use of cookies by any advertisers, and we
            encourage you to review the applicable advertisers websites for their privacy policy. EasyGameDeveloper
            may also display personalized third-party advertising based on your personal information, such as use of
            the EasyGameDeveloper Website.

        p.
            Our application uses the following third-party services to help provide the necessary service for our applications that we have created. The following are services and their privacy policies:

        ul
            li Facebook
                a(href='https://www.facebook.com/privacy/explanation')  https://www.facebook.com/privacy/explanation
            li AppsFlyer
                a(href='https://www.appsflyer.com/privacy-policy/')  https://www.appsflyer.com/privacy-policy/
            li DevtoDev
                a(href='https://www.devtodev.com/policy')  https://www.devtodev.com/policy

        h3 7. Special Notice REGARDING MINORS.
        p.
            We do not knowingly collect Personal Information from persons under the age of 18. If it comes to our
            attention that Personal Information has been collected from a person under the age of 18, we will delete
            this information as quickly as possible. If you believe that we may have Personal Information from or about
            a child under the age of 18, please contact us at the email address below.

        h3 8. CONDITIONS OF USE/Changes to this Privacy Policy.
        p.
            In choosing to visit the EasyGameDeveloper Website, you agree that any dispute arising out of or relating
            to the use of your information as described herein is subject to this Privacy Policy and our Terms of Use.
            We reserve the right to change this privacy policy and your continued use of the EasyGameDeveloper Website
            constitutes acceptance of such changes.

        h3 CONTACT US.
        p
            | If you have questions regarding how EasyGameDeveloper protects your information or this Privacy Policy,
            | please contact EasyGameDeveloper at email:
            a(href='mailto:ataka9731@gmail.com')  ataka9731@gmail.com

        h3
            span(class='privacy-policy-main__egd') EasyGameDeveloper

    div(class='privacy-policy-main__border')
